.App {
  text-align: center;
  margin: 20px;
}

form {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

div {
  margin-bottom: 10px;
}
